# @file    .npmrc - Configures npm's behaviour for the project.
# @author  Bryan Hoang <bryan@distributive.network>
# @date    Apr. 2023

# Disallow incorrect node or npm versions.
engine-strict=true

# Pin the application's dependencies by default.
save-exact=true
