# @file   CODEOWNERS - machine-generated via dcp-docs-wes git@gitlab.com:Distributed-Compute-Protocol/dcp-docs-wes.git 2b96c3115072a2cc6858c3bc920febc77e37a25a
# @author wes@people
# @date   Tue Apr 23 10:32:02 EDT 2024


[]

[Brandon]
/catalog-info.yaml @BChristieDistributive

[Eddie]
/package-lock.json @eroosenmaallen

[Wes]
/npm-hooks/ @wesgarland
/README.md @wesgarland
/docs/ @wesgarland
/.eslintrc.js @wesgarland
/.npmrc @wesgarland
/.tidelift @wesgarland
/lib/ @wesgarland
/LICENSE.md @wesgarland
/.trunk/ @wesgarland
/.gitignore @wesgarland
/etc/ @wesgarland
/.gitlab-ci.yml @wesgarland
/bin/ @wesgarland
/etc/ @wesgarland
/lib/ @wesgarland
/bin/ @wesgarland

[Wes or Eddie]
/package.json @wesgarland @eroosenmaallen
