# @file   CODEOWNERS - machine-generated via dcp-docs-wes git@gitlab.com:Distributed-Compute-Protocol/dcp-docs-wes.git 5152d3e8e35f5fb1a2852b071430e8c38e667b9f
# @author wes@people
# @date   Tue Apr 23 13:47:03 EDT 2024


[]

[Brandon]
/catalog-info.yaml @BChristieDistributive

[Eddie]
/package-lock.json @eroosenmaallen

[Wes]
/npm-hooks/ @wesgarland
/README.md @wesgarland
/docs/ @wesgarland
/.eslintrc.js @wesgarland
/.npmrc @wesgarland
/.tidelift @wesgarland
/lib/ @wesgarland
/LICENSE.md @wesgarland
/.trunk/ @wesgarland
/.gitignore @wesgarland
/etc/ @wesgarland
/.gitlab-ci.yml @wesgarland
/bin/ @wesgarland
/etc/ @wesgarland
/lib/ @wesgarland
/bin/ @wesgarland

[Wes or Eddie]
/package.json @wesgarland @eroosenmaallen
