# @file   CODEOWNERS - machine-generated via dcp-docs-wes git@gitlab.com:Distributed-Compute-Protocol/dcp-docs-wes.git ddf12a48dbd85f3b045c9f750ac7bc5e880ce965
# @author wes@people

[Brandon]
@BChristieDistributive 

[Eddie]
@eroosenmaallen 

[Wes]
@wesgarland 

[Wes or Eddie]
@wesgarland @eroosenmaallen
